.barChart {
    font-size: .8rem;
    text-align: center;
}

.twoColumns {
    display: flex;
    width: 150px;
    height: 180px;
    justify-content: center; /* centers the columns horizontally */
    align-items: flex-end;
    margin: 0;
    padding: 0
}

.oneColumn {
    width: 64px;
    height: 180px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 2.5px;
    padding: 0;
    animation: growBar 1.2s ease-out forwards; /* grow to full height */
}

@keyframes growBar {
    from { height: 0; }
    to   { height: 67% }     /* final bar height */
}
