.roundButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: lightgrey; */
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 1px grey;
    font-size: 1.2rem;
    margin: 5px;

    /* display: flex;            centers content */
    align-items: center;      /* vertically center */
    justify-content: center;  /* horizontally center */

    color: black;
}