.desc {
    width: 330px;
    height: 250px;
    border-radius: 10px;
    margin: 0 auto;
    /* background-color: lightgray; */
    color: black
}

.descBox {
    font-family: "Afacad";
    font-size: .8rem; 
    width: 330px;
    height: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: lightgray;
    color: black;
    text-align: left;
}